# Logs
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output
.tap-output

# Dependency directories
node_modules/
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Gatsby files
.cache/
